# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore database files
db.sqlite3

# Ignore Django secret settings
*.env

# Ignore logs
logs/
*.log

# Ignore static and media files
static/
media/

# Ignore VSCode settings
.vscode/

# Ignore macOS system files
.DS_Store